.container{
    margin-bottom: 100px;
}
.collapse{
    font-size: 15px;
    font-weight: bold;
    padding-left: 480px;
}
.carousel-item{
    padding: 20px 20px;
}
button{
    background-image:linear-gradient(black,gray);
    padding: 8px 25px;
    cursor: pointer;
    color: white;
    border: none;
    
    border-radius: 10px;

}
.buy-button{
    background-image:linear-gradient(black,gray);
    padding: 8px 25px;
    cursor: pointer;
    color: white;
    border: none;
    margin-left: 90px;
    border-radius: 10px;

}
.orange-bg{
  
    border-radius: 10px;
}
.text p{
    text-align: justify;
    color: #f0f00a;
    margin-bottom: 50px;
    font-weight: bold;

}
.card-body h5{
    text-align: center;
}
.card{
    border: none;
    box-shadow: 5px 3px 10px rgb(218, 214, 214);
    border-radius: 10px;
}
.card-footer {
    border-top: none;
    background-color: white;
}
.col{
    border: none;
    border-radius: 0px 10px;
    box-shadow: 2px 3px 2px 10px rgb(228, 224, 224);
}
.cat-bag{
    border: none;
    border-radius: 10px 0px;
    box-shadow: 2px 3px 2px 10px rgb(211, 208, 208);
    margin: 60px 50px;

}

footer{
    text-align: center;
}

